<h3>app component custom pipes</h3>

<h3>{{2| multiplyPipe: 10}}</h3>

<h3>custom pipe age using moment library</h3>
<h3>{{birthdate| agePipe}}</h3>

<h3>custom birth age cal</h3>
<h3>{{birthdate| ageCal: 'y'}}</h3>


<h2 *ngFor=" let emp of employees">{{ (emp | salaryFilter: 40000:10000 )| json}}</h2>

<h3>join pure/impure pipe</h3>

<input type="text" placeholder="enter the value for array" #person (keydown.enter)="addValue(person.value)">
<!-- <button (click)="addValue(person.value)">add value to array</button> -->
<h4>when pure is false the updated value will reflect to the ui but when the pure is true it will not reflect to ui</h4>
<h3>{{persons | join}}</h3>