<h3>person component works!</h3>

<form [formGroup]="personForm" class="container" novalidate >
    <div class="form-group">
        <label for="firstName">First name</label>
        <input type="text" name="firstName" id="firstName" class="form-control" formControlName="firstName" required >
    </div>
    <div class="form-group">
        <label for="lastName">last name</label>
        <input type="text" name="lastName" id="lastName" class="form-control" formControlName="lastName" required>
    </div>
    <div class="form-group">
        <label for="gender">gender</label>
        <br>
        <input type="radio" name="gender" id="male"  formControlName="gender" value="male">Male
        <input type="radio" name="gender" id="female"  formControlName="gender" value="female">Femle
    </div>
    <div class="form-group">
        <label for="qualification">qualification</label>
        <select name="qualification" id="qualification" class="form-control" formControlName="qualification">
            <option *ngFor="let qual of degree" [value]="qual" >{{qual}}</option>
        </select>
    </div>
    <pre>{{personForm.value | json}}</pre>
    <pre>{{personForm.status | json}}</pre>
</form>
